html,body{
	padding: 0;
	margin: 0;
}
body{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin: 0 10pt;
}
main{
	overflow-y: hidden;
	display: flex;
	height: 100%;
	width: 100%;
	/* align-items: center;; */
	justify-content: center;
	scrollbar-width: none; 
	/* margin: 50pt; */
}
#output{
	overflow-y: scroll;
	width: 80%;
	height: inherit;
}
p {
	margin: 0;
}
div{
	margin: 20pt 0 0 0;
}

@media only screen and (max-width: 600px) {
	main{
		flex-direction: column;
	}

}